%footer.footer
  %br/
  %strong
    Copyright © 2015-2016  &nbsp&nbsp
    = succeed "." do
      %a{:href => "https://github.com/toniesteves/CV/blob/master/en-us.md"} Toni Esteves
  %div
    %b Version
    0.0.1
